{% if products|render %}
<section {{ attributes }}>
  {% if content.field_header_image|render %}
  <header>
    <figure class="image">
      <a href="{{ url }}">
        {{ content.field_header_image.0 }}
        {% if header_title|render %}
        <figcaption>
          {{ header_title|t }}
        </figcaption>
        {% endif %}
      </a>
    </figure>
  </header>
  {% else %}
  <header>
    {% if header_title|render %}
    <h1>
      {{ header_title|t }}
    </h1>
    {% endif %}
  </header>
  {% endif %}

  {{ products }}
</section>
{% endif %}
