{%
set classes = [
'shopify-product',
view_mode ? view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  <meta itemprop="name" content="{{ content.title.0 }}">
  <meta itemprop="url" content="{{ url }}">
  <meta itemprop="image" content="">

  <section class="info">
    <h1 itemprop="name">
      {{ content.title }}
    </h1>
    <h2 itemprop="brand">
      {{ content.vendor }}
    </h2>
    {{ content.active_variant }}
    <div class="description" itemprop="description">
      {{ content.body_html.0 }}
    </div>

    <section class="addToCart">
      {{ content.add_to_cart_form }}
    </section>
  </section>
  <section class="images">
    <figure class="image" rel="lightbox">
      {{ content.image }}
    </figure>
    {% if content.extra_images | render %}

    <div class="extra_images">
      {{ content.extra_images }}
    </div>
    {% endfor %}
  </section>

  {{ content.related_items }}
</article>
