{#
/**
 * @file
 * Default theme implementation to display a product variant.
 *
 * Available variables:
 * - content: All product variant items. Use {{ content }} to print them all.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "store_listing".
 * - shopify_product_variant: The shopify product variant object.
 *
 * @ingroup themeable
 */
#}
<li>
  {{ content.dynamic_product_image }}
  <div class="product_info">
    {{ content.product_title }}
    {{ content.product_vendor }}
  </div>
  <div class="item-qty">
    <input type="number" value="" />
  </div>
  {{ content.price }}
  <button class="item-remove"><span>X</span></button>
</li>
