{#
/**
 * @file
 * Default theme implementation to display a product variant.
 *
 * Available variables:
 * - content: All product variant items. Use {{ content }} to print them all.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "store_listing".
 * - shopify_product_variant: The shopify product variant object.
 *
 * @ingroup themeable
 */
#}
<li>
  <a href="{{ url }}">
    {{ content.dynamic_product_image }}
  </a>
  <div class="product_info">
    <a href="{{ url }}">
      {{ content.product_title }}
      {{ content.product_vendor }}
      {% if content.title.0|render != "Default Title" %}
      <div class="variant_option">
        {{ content.title.0 }}
      </div>
      {% endif %}
    </a>
  </div>
  <div class="item-qty">
    <input type="number" value="" />
  </div>
  {{ content.price }}
  <button class="item-remove"><span>X</span></button>
</li>
